@import '03_mixin';

header {
    nav{
        @include maxWidthMargin0Auto (1200px);
        @include displayFlexRow;
        justify-content: space-between;
        margin-bottom: 45px;
    
        .logo {
            font-size: 1.7rem;
            span {
                font-weight: 700;
            }
        }
        
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1rem;
            font-weight: 400;
    
            ul {
                @include displayFlexRow;
                justify-content: center;
                gap: 60px;
                
                li {
                    a {
                        letter-spacing: 0.16px;
                    }
                }
            }
    
        }
    }
 
}